{%extends "_layouts/base.html" %}

{{ block.super }}
{% block body_header %}

				<a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="index.html"><span>For the Rights</span></a>

				<!-- start: Header Menu -->
				<div class="nav-no-collapse header-nav">
					<ul class="nav pull-right">
						<!-- start: User Dropdown -->
						<li class="dropdown">
							<a class="btn dropdown-toggle" data-toggle="dropdown" href="">
								<i class="halflings-icon white user"></i> Dennis Ji
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li class="dropdown-menu-title">
 									<span>Account Settings</span>
								</li>
								<li><a href=""><i class="halflings-icon user"></i> Profile</a></li>
								<li><a href="login.html"><i class="halflings-icon off"></i> Logout</a></li>
							</ul>
						</li>
						<!-- end: User Dropdown -->
					</ul>
				</div>
				<!-- end: Header Menu -->
				
{% endblock %}

{% block mainmenu %}

				<div class="nav-collapse sidebar-nav">
					<ul class="nav nav-tabs nav-stacked main-menu">
    				    <li {% if slug == 'home' %}class="active"{% endif %}><a href="{% url 'page' 'home' %}"><i class="icon-tasks"></i><span class="hidden-tablet"> 主菜单 </span></a></li>
					</ul>
				</div>

{% endblock %}


{% block bread_crumb %}
    <ul class="breadcrumb">
				<li>
					<i class="icon-home"></i>
					<a href="index.html">{{par_page}}</a> 
					<i class="icon-angle-right"></i>
				</li>
				<li><a href="">{{cur_page}}</a></li>
	</ul>
{% endblock %}



{% block footer %}
		<p>
			<span style="text-align:left;float:left"> 2015 <a href="http://www.sohu.com" alt="Bootstrap_Metro_Dashboard">Rights all</a></span>
		</p>
{% endblock %}